@import 'mq'

@import 'functions'
@import 'keyframes'

@import '~perfect-scrollbar/css/perfect-scrollbar.css'

$colors = {
  white: #ffffff,
  black: #000000
}

.mailru
  position: relative
  z-index: 99
  width: 670px
  max-width: 100%
  padding: 0 10px
  margin: 0 auto
  font-family: 'Roboto', sans-serif;
  font-size: 16px
  line-height: normal
  text-size-adjust: 100%
  overflow: hidden
  box-sizing: border-box

  @media $mq.iphone5
    font-size: 14px

  @media $mq.not_mobile
    font-size: 18px
    padding: 0 15px

  @media $mq.x_land
    font-size: 16px
    padding: 0 10px

  & *
  & *:before
  & *:after
    box-sizing: border-box

  svg
    display block
    fill currentColor
    pointer-events none

  & b
    font-weight: 700

  & a
    color: inherit
    text-decoration: none

  & button
    font-family: inherit
    font-size: inherit
    outline: none
    cursor: pointer
    appearance: none

  & input[type="text"]
    font-family: inherit
    font-size: inherit
    outline: none

  &-bg
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0

    ^[0].is-feed &
      position: absolute

  &__inner
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: calc(100vh - 50px)
    //min-height: 600px

  &__loader
    color: #fff
    font-size: 120px
    font-weight: 700
    line-height: 1

    @media $mq.not_mobile
      font-size: 250px

    @media $mq.x_land
      font-size: 120px

  &-timeline
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

    &__section
      flex-shrink: 0
      position: relative
      width: 100%
      height: 100%
      overflow: auto

    &__section-inner
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      min-height: 100%
      padding-bottom: 30px
      overflow: hidden

      @media $mq.not_mobile
        padding-bottom: 60px

      @media $mq.x_land
        padding-bottom: 30px

  &-line
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

    &__item
      position: absolute
      left: 0
      right: 0
      margin: 0 auto
      width: 6px
      height: calc(50% - 60px)
      background-color: rgba(255, 255, 255, .5)

      &:first-child
        top: 0

      &:last-child
        bottom: 0

  &-era-img
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin: auto
    max-width: none !important

  &-enter
    position: relative
    width: 600px
    max-width: 100%
    transition: opacity 2s

    @media $mq.x_land
      width: 355px

    a&__logo
      color: #fff !important

    &__logo
      position: absolute
      top: 2px
      right: 0
      display: block
      width: 140px
      height: 40px
      color: #fff !important
      border: 0 !important
      opacity: .5
      transition: opacity .2s

      @media $mq.iphone5
        top: 4px

      @media $mq.not_mobile
        top: 16px

      @media $mq.x_land
        top: 2px

      & svg
        width: 100%
        height: 100%

      &:hover
        opacity: 1

        @media (hover none), (hover on-demand)
          opacity: .5

    &__title
      display: inline-block
      color: #fff !important
      border: 0 !important
      font-size: 26px
      font-weight: 700

      @media $mq.iphone5
        max-width: 140px
        font-size: 30px

      @media $mq.not_mobile
        max-width: none
        font-size: 48px

      @media $mq.x_land
        font-size: 26px

    &__text
      margin-top: 20px
      color: #fff
      line-height: 1.3em

      & p
        padding: 0
        margin: 0 !important

        &:not(:last-child)
          margin-bottom: 1.3em !important

      @media $mq.not_mobile
        margin-top: 40px
        line-height: 1.667em

        & p:not(:last-child)
          margin-bottom: 1.667em !important

      @media $mq.x_land
        margin-top: 20px
        line-height: 1.3em

        & p:not(:last-child)
          margin-bottom: 1.3em !important

    &__start
      position: relative
      display: block
      width: 200px
      margin: 50px auto 0

      @media $mq.not_mobile
        margin: 50px 0 0

      @media $mq.x_land
        margin: 50px auto 0

    &__start-btn
      width: 200px
      height: 59px
      padding: 0
      color: rgba(255, 255, 255, .5)
      font-size: 18px
      font-weight: 700
      border: 6px solid rgba(255, 255, 255, .5)
      background-color: transparent

      &:hover
        color: #000
        border-color: rgba(255, 255, 255, 0)
        background-color: rgba(255, 255, 255, .5)

    &__start-line
      position: absolute
      bottom: 0
      left: 50%
      background-color: rgba(255, 255, 255, .5)

      &::before
        content: ''
        position: absolute
        top: 0
        left: -3px
        width: 6px
        height: 6px
        background-color: #fff
        opacity: 0
        transition transform 1s

        @media $mq.not_mobile
          left: 0
          transition left .4s, transform 1s .4s

        @media $mq.x_land
          left: -3px
          transition transform 1s

      &.is-active::before
        opacity: 1
        transform translateY(600px)

        @media $mq.not_mobile
          left: 97px

        @media $mq.x_land
          left: -2px

      &::after
        content: ''
        position: absolute
        top: 0
        right: -3px
        width: 6px
        min-height: 100px;
        height: 100vh
        background-color: rgba(255, 255, 255, .5)

      @media $mq.not_mobile
        top: 0
        left: 100%
        margin: auto 0
        width: 97px
        height: 6px

        &::after
          right: -6px

      @media $mq.x_land
        top: auto
        left: 50%
        margin: 0
        width: 0
        height: 0

        &::after
          right: -3px

  &-year
    margin-top: 30px
    color: #ffffff
    font-size: 72px
    font-weight: 700
    line-height: 1

    @media $mq.not_mobile
      margin-top: 60px

    @media $mq.x_land
      margin-top: 30px

  &-pager
    position: fixed
    bottom: 0
    left: -20px
    right: 0
    width: calc(100% + 40px)
    background-color: #000000

    ^[0].is-feed &
      position: absolute

    &__planet
      position: absolute
      z-index: 2
      top: -22px
      left: 0
      right: 0
      margin: 0 auto
      width: 25px
      height: 25px
      background-image: url('https://leonardo.osnova.io/5f3f14cd-e05a-1a80-b86d-c4cd6405e1d6/')
      background-position: 0 0
      background-size: 130px 30px

      @media $mq.not_mobile
        top: -12px

      @media $mq.x_land
        top: -22px

      &--second
        background-position: -25px 0

      &--third
        top: -24px
        width: 30px
        height: 30px
        background-position: -50px 0

        @media $mq.not_mobile
          top: -14px

        @media $mq.x_land
          top: -24px

      &--fourth-comment
      &--fourth
        background-position: -80px 0

      &--fifth
        background-position: -105px 0

    &__pin
      display: none
      position: absolute
      z-index: 2
      bottom: 0
      left: 0
      right: 0
      width: 6px
      height: 15px
      margin: 0 auto
      background-color: #fff

      @media $mq.not_mobile
        display: block

      @media $mq.x_land
        display: none

    &__wrapper
      position: relative
      width: 680px
      max-width: 100%
      margin: 0 auto
      overflow: hidden

      &::before,
      &::after
        content: ''
        position: absolute
        z-index: 1
        top: 0
        bottom: 0
        width: 50%
        height: 100%

      &::before
        left: 0
        background-image linear-gradient(to right, #000, transparent)

      &::after
        right: 0
        background-image linear-gradient(to left, #000, transparent)

    &__inner
      display: flex
      align-items: center
      height: 30px
      transform: translateX(calc(50% - 50px))
      transition: transform .4s

      @media $mq.not_mobile
        height: 60px

      @media $mq.x_land
        height: 30px

    &__item
      flex-shrink: 0
      width: 100px
      color: #ffffff
      text-align: center

      &--active
        font-weight: 700

  &-q
    position: relative
    width: 100%
    height: 380px
    padding-top: 10px
    background-color: #fff
    overflow: hidden

    @media $mq.iphone6
      width: 355px
      height: 430px

    @media $mq.not_mobile
      width: 100%
      height: 600px
      padding-top: 20px

    @media $mq.x_land
      width: 355px
      height: 430px
      padding-top: 10px

    &--first
      background-color: #DEDEDE
      box-shadow 3px 3px 0 rgba(0,0,0,.25)

    &--second
      border: 1px solid #000000
      border-radius: 5px
      background-color: #ffffff

    &--third
      border: 1px solid #3D3D3D
      border-radius: 5px
      background: #fff
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.19%, #E2E2E2 100%), #FFFFFF
      box-shadow: 5px 5px 10px rgba(0, 0, 0, .5)

    &--fourth
    &--fourth-comment
      border-radius: 5px
      box-shadow: 0px 0px 25px rgba(0, 0, 0, .25)

    &--fifth
      border-radius: 10px

    &__frame
      position: absolute
      z-index: 1
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-repeat: no-repeat

      &--first
        bottom: 0
        background-image: url('https://leonardo.osnova.io/17419433-f143-ddb0-5635-491418bb4138/')
        background-size: 100% 100%

      &--second
      &--third
      &--fourth
      &--fourth-comment
      &--fifth
        height: 15px
        background-size: auto 15px

        @media $mq.not_mobile
          height: 25px
          background-size: auto 25px

        @media $mq.x_land
          height: 15px
          background-size: auto 15px

      &--second
        background-image: url('https://leonardo.osnova.io/83276045-9164-7025-40f0-3c1c8dbfc018/')

      &--third
        background-image: url('https://leonardo.osnova.io/0e685f82-9721-2a55-1241-540aed273304/')

      &--fourth
      &--fourth-comment
        background-image: url('https://leonardo.osnova.io/7f17898b-ab07-7837-3a21-8c702d739032/')

      &--fifth
        background-image: url('https://leonardo.osnova.io/df164391-e4ed-2936-7bf8-3490b2833092/')

    &__header
      position: absolute
      z-index: 2
      top: 0
      left: 0
      right: 0
      display: flex
      justify-content: center
      align-items: center
      height: 15px

      @media $mq.not_mobile
        height: 25px

      @media $mq.x_land
        height: 15px

    &__pager
      font-size: 12px
      font-weight: 700
      line-height: 1
      text-align: center

      @media $mq.not_mobile
        font-size: 16px

      @media $mq.x_land
        font-size: 12px

      &--fourth-comment
      &--fourth
        color: #fff

    &__logo
      position: absolute
      top: 50%
      right: 15px
      transform translateY(-50%)

      @media $mq.mobile

        & svg
          height: 12px

      @media $mq.not_mobile
        right: 38px

      @media $mq.x_land
        right: 15px

        & svg
          height: 12px

    &__img
      display: block
      width: 100%

    &__body
      position: relative
      z-index: 3
      padding: 10px 10px 20px

      @media $mq.not_mobile
        height: 340px
        padding: 20px 40px

      @media $mq.x_land
        height: auto
        padding: 10px 10px 20px

    &__text
      line-height: 1.3em

      &--fourth-comment
        font-weight: 700

      @media $mq.iphone5
        font-size: 14px

      @media $mq.not_mobile
        line-height: 1.667em

      @media $mq.x_land
        line-height: 1.3em

        &--third
          margin-top: 35px

        &--fifth
          margin-top: 45px

    &__options

      &--first
        margin-top: 20px

        @media $mq.iphone6
          margin-top: 25px

      &--second
      &--third
        display: flex
        flex-wrap wrap
        margin: -10px 0 0 -10px

      &--second
        padding-top: 20px

        @media $mq.not_mobile
          padding-top: 50px

        @media $mq.x_land
          padding-top: 20px

      &--third
        padding-top: 20px

      &--fourth-comment
        margin-top: 20px

      &--fourth
      &--fifth
        display: flex
        flex-wrap wrap
        margin: -10px 0 0 -10px
        padding-top: 20px

        @media $mq.not_mobile
          margin: -20px 0 0 -20px
          padding-top: 25px

        @media $mq.x_land
          margin: -10px 0 0 -10px
          padding-top: 20px

    &__options-item

      &--first
        &:not(:last-child)
          margin-bottom: 10px

      &--second
      &--third
        width: 50%
        padding: 10px 0 0 10px

      &--fourth-comment
        &:not(:last-child)
          margin-bottom: 12px

      &--fourth
      &--fifth
        width: 50%
        padding: 10px 0 0 10px

        @media $mq.not_mobile
          padding: 20px 0 0 20px

        @media $mq.x_land
          padding: 10px 0 0 10px

    &__option
      cursor: pointer

      &--first
        line-height: 1
        border-bottom: 1px solid currentColor

        &:hover
          color: #FF3535

          @media (hover none), (hover on-demand)
            color: #000000

      &--second
      &--third
      &--fourth-comment
      &--fourth
      &--fifth
        trnasition opacity .2s

        &:hover
          opacity: .6

          @media (hover none), (hover on-demand)
            opacity: 1

      &--second
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 60px
        padding: 0 10px
        color: #ffffff
        text-align: center
        border: 1px solid #000
        border-radius: 5px
        background-color: #4F5B71

        @media $mq.not_mobile
          height: 70px

        @media $mq.x_land
          height: 60px

        &::before
          content: ''
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          border: 1px solid #fff
          border-radius: 5px

      &--third
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 60px
        padding: 0 10px
        color: #fff
        text-align: center
        border-radius: 5px
        background: #4F3F68
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 82.87%, rgba(255, 255, 255, 0.5) 100%), #4F3F68
        box-shadow 0 2px 0 #735C83

        @media $mq.not_mobile
          height: 70px

        @media $mq.x_land
          height: 60px

      &--fourth-comment
        display: block
        padding: 8px 10px
        line-height: 1.3em
        border: 1px solid rgba(0,0,0,.2)
        border-radius: 5px

        @media $mq.not_mobile
          padding: 12px 20px

        @media $mq.x_land
          padding: 8px 10px

      &--fourth
      &--fifth
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 70px
        padding: 0 10px
        text-align: center
        border: 2px solid #000

      &--fourth
        border-radius: 5px

    &__input
      display: block
      width: 100%
      height: 32px
      margin-top: 20px
      color: #2D4763
      border: none
      border-bottom: 2px solid rgba(45, 71, 99, .3)
      border-radius: 0
      opacity: .3
      placeholder(rgba(45, 71, 99, .3))

      &:focus
        border-bottom-color: rgba(45, 71, 99, 1)

    &__answer
      font-size: 20px
      font-weight: 700
      line-height: 1

      @media $mq.not_mobile
        font-size: 24px

      @media $mq.x_land
        font-size: 20px

      &--correct
        color: #33A860

      &--incorrect
        color: #FF3535

      &--fourth-comment
        font-size: 16px

        @media $mq.iphone6
          font-size: 18px

        @media $mq.not_mobile
          font-size: 24px

        @media $mq.x_land
          font-size: 18px

    &__answer-msg
      margin-top: 16px
      line-height: 1.3em

      & a
        color: inherit !important
        border-bottom: 1px solid currentColor !important

        &:hover
          color: #ff3535 !important

      @media $mq.not_mobile
        margin-top: 28px
        line-height: 1.778em

      @media $mq.x_land
        margin-top: 16px
        line-height: 1.3em

    &__next-btn
      position: relative
      width: 200px
      height: 50px
      margin-top: 20px
      border: 1px solid #000000
      border-radius: 5px
      background-color: transparent
      trnasition opacity .2s

      &:hover
        opacity: .6

        @media (hover none), (hover on-demand)
          opacity: 1

      @media $mq.not_mobile
        position: absolute
        bottom: 45px
        left: 40px
        margin-top: 0

      @media $mq.x_land
        position: relative
        bottom: initial
        left: initial
        margin-top: 20px

      &--first
        border-radius: 5px
        box-shadow: 3px 3px 0 0 rgba(0,0,0,.75)

      &--second
        color: #ffffff
        background-color: #4F5B71

        &::before
          content: ''
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          border: 1px solid #fff
          border-radius: 5px

      &--third
        color: #fff
        border: none
        background: #4F3F68
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 82.87%, rgba(255, 255, 255, 0.5) 100%), #4F3F68
        box-shadow 0 2px 0 #735C83

      &--fourth-comment
      &--fourth
        border-width: 2px

      &--fifth
        border-width: 2px
        border-radius: 0

  &-result-wrapper
    width: 100%
    max-height: 100%
    overflow: auto

  &-result
    position: relative
    width: 100%

    @media $mq.not_mobile
      padding: 50px 0

    a&__logo
      color: #fff !important

    &__logo
      position: absolute
      top: 0
      right: 0
      display: block
      width: 70px
      height: 20px
      margin-bottom: 10px
      margin-left: auto
      color: #fff !important
      border: 0 !important
      transition: opacity .2s

      @media $mq.not_mobile
        width: 103px
        height: 30px
        margin-bottom: 20px

      @media $mq.x_land
        width: 70px
        height: 20px
        margin-bottom: 10px

      & svg
        width: 100%
        height: 100%

      &:hover
        opacity: .6

        @media (hover none), (hover on-demand)
          opacity: 1

    &__main
      position: relative
      //height: 341px
      background-color: gray
      background-size: cover

      &::before
        content: ''
        display: block
        padding-top: 53.3%

    &__main-inner
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      padding: 15px 15px 5px

      @media $mq.iphone6
        padding: 20px 20px 10px

      @media $mq.not_mobile
        padding: 50px 40px 20px

      @media $mq.x_land
        padding: 20px 20px 10px

    &__bottom
      margin-top: 18px

      @media $mq.not_mobile
        margin-top: 28px

      @media $mq.x_land
        margin-top: 18px

    &__result
      color: #fff

      @media $mq.iphone5
        font-size: 14px

    &__title
      margin-top: 4px
      color: #fff
      font-size: 16px
      font-weight: 700

      @media $mq.iphone6
        margin-top: 10px
        font-size: 18px

      @media $mq.not_mobile
        margin-top: 15px
        font-size: 36px
        line-height: 1.44em

      @media $mq.x_land
        margin-top: 10px
        font-size: 18px
        line-height: normal

    &__subtitle
      color: #fff
      font-size: 12px
      margin-top: 4px

      @media $mq.not_mobile
        font-size: 18px

    &__share
      margin-top: 6px

      @media $mq.iphone6
        margin-top: 8px

      @media $mq.not_mobile
        margin-top: 12px

      @media $mq.x_land
        margin-top: 8px

    &__restart-btn
      position: relative
      display: inline-flex
      align-items: center
      margin-top: 6px
      color: #fff
      cursor: pointer
      transition: opacity .2s

      & span:first-child
        margin-right: 8px

      &:hover
        opacity: .6

        @media (hover none), (hover on-demand)
          opacity: 1

      @media $mq.iphone5
        font-size: 14px

      @media $mq.iphone6
        margin-top: 12px

      @media $mq.not_mobile
        margin-top: 20px

      @media $mq.x_land
        margin-top: 12px

  &-gift
    display: flex
    flex-direction column
    align-items: center

    &__title
      margin-bottom: 15px
      color: #fff
      font-weight: 700
      text-align: center

      @media $mq.iphone5
        font-size: 14px

    &__gifts
      display: flex
      justify-content: center
      align-items: center

    &__btn
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 140px
      height: 60px
      padding: 0 6px
      margin: 0 3px
      color: rgba(255,255,255,.5)
      text-align: center
      border-radius: 10px
      background-color: rgba(255,255,255,.2)
      cursor: default
      user-select: none

      @media $mq.iphone5
        font-size: 14px

      @media $mq.iphone6
        width: 160px

      @media $mq.not_mobile
        width: 240px
        height: 80px
        padding: 0 12px
        margin: 0 6px

      @media $mq.x_land
        width: 160px
        height: 60px
        padding: 0 6px
        margin: 0 3px

      &--delivery
      &--citymobil
        color: #fff
        transition: opacity .2s
        cursor: pointer

        &:hover
          opacity: .6

          @media (hover none), (hover on-demand)
            opacity: 1

      &--delivery
        background-color: #0EC645

      &--citymobil
        background-color: #F3932A

    &__btn-hint
      position: absolute
      top: calc(100% + 12px)
      color: rgba(255,255,255,.5)
      font-size: 14px

    &__hint
      width: 290px
      max-width: 100%
      margin-top: 40px
      color: rgba(255,255,255,.5)
      font-size: 16px
      font-weight: 700
      text-align: center

      @media $mq.iphone6
        margin-top: 50px

      @media $mq.not_mobile
        margin-top: 70px

      @media $mq.x_land
        margin-top: 50px

    &__gift
      display: block
      width: 150px
      max-width: 100%
      height: 50px
      font-size: 24px
      line-height: 50px
      text-align: center
      border-radius: 111px
      background-color: #fff

      @media $mq.not_mobile
        width: 300px
        height: 85px
        line-height: 85

      @media $mq.x_land
        width: 150px
        height: 50px
        line-height: 50px

    &__text
      color: #fff
      text-align: center

      & p
        padding: 0
        margin: 0 !important

        &:not(:last-child)
          margin-bottom: 10px !important

  .likely
    &--custom
      display: flex

    &__widget
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: center
      min-width 48px
      height 34px
      color #fff
      border 1px solid currentColor
      background-color transparent
      cursor: pointer

      @media $mq.not_mobile
        min-width 58px
        height 44px

      @media $mq.x_land
        min-width: 48px
        height: 34px

      &:not(:last-child)
        margin-right 5px

      &:hover
        color #fff
        border-color #000
        background-color #000

        & .likely__button
          color #fff

      &--facebook

        &:hover
          border-color #4267B2
          background-color #4267B2

      &--vkontakte

        &:hover
          border-color #5B88BD
          background-color #5B88BD

      &--twitter

        &:hover
          border-color #1DA1F2
          background-color #1DA1F2

      @media $mq.iphone6
        &:not(:last-child)
          margin-right 14px

      @media $mq.not_mobile
        &--vkontakte
          padding: 0 13px 0 10px

      @media $mq.x_land
        &--vkontakte
          padding: 0

    &__counter
      display: none

    &__icon
      background-color transparent

      & svg
        display: block
        width: 18px
        height: @width
        fill currentColor

        @media $mq.not_mobile
          width: 24px
          height: @width

        @media $mq.x_land
          width: 18px
          height: @width

      &--vkontakte
        & svg
          width: 20px
          height: @width

          @media $mq.not_mobile
            width: 28px
            height: @width

          @media $mq.x_land
            width: 20px
            height: @width

      &--vkontakte

        @media $mq.not_mobile
          margin-right 6px

        @media $mq.x_land
          margin-right: 0

    &__button
      display none
      font-size 16px
      line-height 1

      @media $mq.not_mobile
        display block

      @media $mq.x_land
        display: none